/* main.css */

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  
    background: url('img/bg.png') !important;
}

header {
    margin-bottom: 2rem;
}

h1, h2 {
    color: #343a40;
}

.card {
    background: #1b3560;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.card-body{
    background: #1b3560;
    color: white;
    border-radius: 0 0 5px 5px;
}
.card:hover {
    transform: scale(1.05);
}

.card-title {
    font-size: 1.25rem;
    color: #fff;
}

.card-text {
    color: #fff;
}

.btn-primary, .btn-secondary {
    margin-right: 0.5rem;
}

.progress {
    height: 30px;
  }
  
  .progress-bar {
    background-color: #007bff;
  }
  

ul {
    padding-left: 1.5rem;
}

ul li {
    margin-bottom: 0.5rem;
}

.section {
    margin-bottom: 3rem;
}



  @media (max-width: 767.98px) {
    /* Style for devices with width under 768px */
    .card {
        display: flex;
        flex-direction: column;
      }
      .card:nth-child(even) {
        flex-direction: column-reverse !important;
      }
   
    .candidates.section .row {
      display: flex;
      flex-wrap: wrap;
    }
    .candidates.section .col-md-3 {
      flex: 1 1 100%;
    }
    .candidates.section .card {
    max-height: 175px;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 1rem;
    }
    .candidates.section .card img{
     max-height: 160px;
     max-width: 160px;
     border-radius: 50%;
     margin: 10px;
    }
    .candidates.section .card-body {
      flex: 1;
    }
    .candidates.section .card:nth-child(odd) {
      flex-direction: row;
    }
    .candidates.section .card:nth-child(even) {
      flex-direction: row-reverse;
    }
  }
  

